<!-- footer.component.html -->
<div class="container mt-4" >
<div class="d-flex justify-content-between align-items-center ">
  <img  src="assets/logo.png"
  alt="Logo"
  width="250"
  height="60">
  <div class="d-flex justify-content-between align-items-center">
    <span class="me-3 fw-bold " >
      Ready to get started?
    </span>
    <button type="button" class="btn btn-dark">Create an Account</button>
  </div>
</div>
<hr class="my-4">

<footer class="text-dark">
  <div class="">
    <div class="row">
      <!-- Contact Column -->
      <div class="col-3">
        <h5 class="fw-bold">Contact</h5>
        <address class="mb-0">
          <p class="footer-subtext mb-0">4517 Washington Ave.</p>
          <p class="footer-subtext mb-0">Manchester, Kentucky</p>
          <p class="footer-subtext mb-0">39495</p>
          <p class="mb-0"><a class="footer-subtext" href="tel:+12395550108">(239) 555-0108</a></p>
          <p class="mb-0"><a class="footer-subtext" href="mailto:contact@agon.com">contact&#64;agon.com</a></p>
        </address>
      </div>

      <!-- About Us Column -->
      <div class="col-2">
        <h5 class="fw-bold">About Us</h5>
        <ul class="list-unstyled">
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Mission & Vision</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Our Team</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Careers</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Press & Media</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Advertising</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Testimonials</a></li>
        </ul>
      </div>

      <!-- Discover Column -->
      <div class="col-2">
        <h5 class="fw-bold">Discover</h5>
        <ul class="list-unstyled">
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Our Blog</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Plans & Pricing</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Knowledge Base</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Cookie Policy</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Office Center</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">News & Events</a></li>
        </ul>
      </div>

      <!-- Support Column -->
      <div class="col-2">
        <h5 class="fw-bold">Support</h5>
        <ul class="list-unstyled">
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">FAQs</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Editor Help</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Community</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Live Chatting</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Contact Us</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Support Center</a></li>
        </ul>
      </div>

      <!-- Useful links Column -->
      <div class="col-3">
        <h5 class="fw-bold">Useful links</h5>
        <ul class="list-unstyled">
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Request an offer</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">How it works</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Pricing</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Reviews</a></li>
          <li class="mb-3" ><a class="text-decoration-none footer-subtext  " href="#">Stories</a></li>
        </ul>
      </div>
    </div>

    <hr class="my-4">

    <!-- Bottom Footer -->
    <div class="row align-items-center mb-4">
      <div class="col-md-8 d-flex justify-content-start align-items-center " >
        <div class=" text-center text-md-start">
          <p class="mb-0 footer-subtext">&copy; Adigimak Official 2024</p>
        </div>
        <div class="col-md-5 text-center my-3 my-md-0">
          <a href="#" class="footer-subtext mx-2 text-decoration-none">Privacy policy</a>
          <a href="#" class="footer-subtext mx-2 text-decoration-none">Cookies</a>
          <a href="#" class="footer-subtext mx-2 text-decoration-none">Terms of service</a>
        </div>
      </div>
      <div class="col-md-4 text-center text-md-end">
        <a href="#" class="h4 mx-2 " style="color: #4878cc" ><i class="bi bi-facebook"></i></a>
        <a href="#" class="h4 mx-2 " style="color: #4878cc" ><i class="bi bi-instagram"></i></a>
        <a href="#" class="h4 mx-2 " style="color: #4878cc" ><i class="bi bi-twitter"></i></a>
        <a href="#" class="h4 mx-2 " style="color: #4878cc" ><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
</div>
