<!-- features.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="feature1.jpg" class="card-img-top" alt="Feature 1">
          <div class="card-body">
            <h5 class="card-title">Feature 1</h5>
            <p class="card-text">Description of feature 1.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="feature2.jpg" class="card-img-top" alt="Feature 2">
          <div class="card-body">
            <h5 class="card-title">Feature 2</h5>
            <p class="card-text">Description of feature 2.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="feature3.jpg" class="card-img-top" alt="Feature 3">
          <div class="card-body">
            <h5 class="card-title">Feature 3</h5>
            <p class="card-text">Description of feature 3.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  