<div class="container my-4">
  <div class="row">
    <div class="col-10 mb-4">
      <h2 class="fw-bold">Latest News</h2>
      <p class="text-muted">From Our Blog and Event Fanpage</p>
    </div>
    <div class="col-2">
      <button class="btn btn-primary rounded-pill">
        View More <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col mb-4" *ngFor="let card of cards">
      <div class="card h-100 border-0 me-3">
        <div class="card-body">
          <small class="text-muted small" style="font-size: 10px"
            >• {{ card.category }}</small
          >
          <h5 class="card-title">{{ card.title }}</h5>
        </div>
        <div
          [ngStyle]="{
            'border-radius': getStyle(card.styling, 'border-radius'),
            'box-shadow': getStyle(card.styling, 'box-shadow')
          }"
        >
          <img [src]="card.image" class="card-img-bottom" alt="Image" />
        </div>
      </div>
    </div>
  </div>
</div>
