<section class="bsb-hero-5 px-3 bsb-overlay" style="background-image: url('./assets/img/hero-img-1.webp');">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="d-flex justify-content-center" >
        <span class="badge rounded-pill custom-badge fw-medium px-3">What We Do What You Get</span>
      </div>
      <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <h2 class="display-4 text-black text-center fw-bold mb-4">Advanced analytics to grow
          your business</h2>
        <p class="lead text-black text-center mb-5 d-flex justify-content-md-center">
          <span class="col-12 col-sm-10 col-md-10 col-xxl-8">Get a website to be found on the first page of Google to avoid missing out on potential visitors and sales.</span>
        </p>
        <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> -->
          <!-- <button type="button" class="btn bsb-btn-2xl btn-outline-light">Free Consultation</button> -->
        <!-- </div> -->
        <div class="d-flex justify-content-center d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-maroon text-white bsb-btn-xl rounded-pill">
            Start free trial <i class="fa-solid fa-arrow-right"></i>
          </button>
          <button type="button" class="btn btn-light bsb-btn-xl rounded-pill">Learn more <i class="fa-solid fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</section>